<style type="text/css">
    @@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        font-size: 24px
    }

    @@media screen and (min-width:1840px) {
        .inner-header {
            width: 1840px;
        }

        .inner-footer {
            width: 1840px;
        }

        .container-header {
            width: 1840px;
        }

        #search-input {
            padding: 16px;
            padding-right: 634px;
        }
    }

    @@media screen and (max-width:1839px) {
        .inner-header {
            width: 1053px;
        }

        .inner-footer {
            width: 1053px;
        }

        .container-header {
            width: 1053px;
        }

        #search-input {
            padding: 16px;
            padding-right: 58px;
        }
    }

    #container {
        border: 1px solid #000000
    }

    .container-header {
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }

    .header {
        background-color: #e1e1e4;
        display: block;
    }

    .inner-header {
        padding: 5px;
        display: flex;
        color: black;
    }

    .logo a img {
        width: 120px;
        height: 50px;
    }

    .menu {
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        background-color: darkblue;
    }

    .menu-list {
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .logo {
        display: flex;
        margin-top: 9px;
    }

    .search-content {
        text-align: center;
        background-color: #e1e1e4;
        display: flex;
        width: 500px;
        margin: 50px auto;
    }

        .search-content img {
            max-width: 20px;
            padding-left: 20px
        }

        .search-content form {
            display: flex;
            /*! justify-content: center; */
            align-items: center;
            border: solid gray 0.5px;
            border-radius: 15px;
            height: 55px;
            width: 500px;
        }

            .search-content form input {
                background-color: #e1e1e4;
                color: black;
                border-style: hidden;
                margin-left: 5px;
                margin-right: 10px;
                border-right: solid gray 0.5px;
                width: inherit;
            }

            .search-content form button {
                background-color: #e1e1e4;
                color: black;
                border: none;
                padding: 10px 20px;
                cursor: pointer;
                margin-right: 5px;
                min-width: 110px;
            }

    .left-header {
        display: flex;
        margin-left: auto;
    }

    .Hotline {
        font-size: 15px;
        text-align: center;
        display: inline-block;
        padding-right: 20px;
    }

        .Hotline img {
            display: inline-block;
            max-width: 47px;
            margin-bottom: 26px;
        }

        .Hotline div {
            display: inline-block;
        }

    .shoppingCart {
        font-size: 15px;
        vertical-align: inherit;
        display: inline-block;
        margin: 14px;
        border-left: solid gray 0.5px;
        padding-left: 20px;
        padding-right: 15px;
    }

        .shoppingCart img {
            width: 50px;
            height: auto;
        }

        .shoppingCart a {
            text-decoration: none;
            color: white;
            margin-bottom: 342px;
        }

    .prodOrders {
        font-size: 15px;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 2px;
    }

        .prodOrders img {
            width: 50px;
            height: auto;
        }

        .prodOrders a {
            text-decoration: none;
            color: white;
        }

    .dangnhap {
        font-size: 15px;
        vertical-align: text-bottom;
        display: inline-block;
        justify-content: center;
        margin: 15px;
    }

        .dangnhap a {
            display: inline-block;
            text-decoration: none;
            border: 2px solid black;
            padding: 10px;
            background-color: transparent;
        }

    footer {
        background-color: black;
        color: white;
    }

    .inner-footer {
        margin-left: auto;
        margin-right: auto;
    }

    .aboutUs {
        text-align: left;
        align-items: center;
        display: inline-block;
        vertical-align: top;
        width: 33%;
    }

        .aboutUs h2 {
            font-size: 25px;
            margin-bottom: 50px;
        }

        .aboutUs p {
            font-size: 15px;
        }

    .support {
        text-align: left;
        display: inline-block;
        width: 33%;
    }

        .support h3 {
            font-size: 15px;
            text-align: left;
        }

        .support ul {
            list-style-type: none;
            text-align: left;
        }

            .support ul li {
                margin: 5px;
            }

                .support ul li a {
                    text-decoration: none;
                    color: white;
                    font-size: 14px;
                }

    .request {
        text-align: center;
        display: inline-block;
        vertical-align: top;
        width: 33%;
    }

        .request h3 {
            font-size: 18px;
        }

        .request ul {
            list-style-type: none;
            text-align: center;
        }

            .request ul li {
                margin: 5px;
            }

                .request ul li a {
                    text-decoration: none;
                    color: white;
                    font-size: 14px;
                    text-align: left;
                }

    .socialMedia {
        display: flex;
    }

        .socialMedia img {
            width: 50px;
            height: 50px;
            margin-left: 40px
        }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="container-header">
                <div class="inner-header">
                    <div class="logo">
                        <a href="/Home/Index"><img src="~/Content/img/logo.png" /></a>
                    </div>
                    @*<section class="search-content">
                            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                            {
                                @Html.TextBoxFor(m => m.SearchTerm, new
                           {
                               @class = "search-input",
                               placeholder = "Nhập tên, mô tả hoặc loại sản phẩm"
                                })

                                <button type="submit" class="search-button">Tìm kiếm</button>
                            }
                        </section>*@
                    <div class="left-header">
                        <section class="Hotline">
                            <img src="~/Content/img/phone.png" />
                            <div>
                                <p>10000000</p>
                                <p>Hotline miễn phí</p>
                            </div>
                        </section>

                        <section class="dangnhap">
                            <a href="~/Account/Register">Đăng ký</a>
                        </section>

                        <div class="shoppingCart">
                            <a href="/ShoppingCart/GioHang">
                                <img src="~/Content/img/shoppingCart.png" />
                            </a>
                        </div>

                        @*<section class="prodOrders">
                                <img src="~/Content/img/prodOrder.png" /> <a href="#">Đơn hàng</a>
                            </section>*@
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div class="inner-footer">
            <div class="aboutUs">
                <h2>Về chúng tôi</h2>
                <p>Địa chỉ:................................</p>
                <p>Email liên hệ:................................</p>
            </div>

            <div class="support">
                <h3>HỖ TRỢ KHÁCH HÀNG</h3>
                <ul>
                    <li><a href="#">Chọn size giày bóng đá</a></li>
                    <li><a href="#">Chọn size quần áo bóng đá</a></li>
                    <li><a href="#">Bảo hành &amp; Đổi trả</a></li>
                </ul>
            </div>

            <div class="request">
                <h3>Chính sách chung</h3>
                <ul>
                    <li><a href="#">Nhận in áo theo yêu cầu</a></li>
                    <li><a href="#">Chính sách bảo mật khách hàng</a></li>
                </ul>
            </div>

            <div class="socialMedia">
                <a href="#"><img src="~/Content/img/fb.png" /></a>
                <a href="#"><img src="~/Content/img/ig.png" /></a>
            </div>
        </div>
    </footer>
</body>
</html>
