@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style type="text/css">
    @@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    @@media screen and (min-width:1280px) {
        .itemlist {
            width: 1830px;
        }
    }

    @@media screen and (max-width:1782px) {
        .itemlist {
            width: 1080px;
        }
    }

    .mainctn {
        display: block;
    }

    .tieude {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }

        .tieude a {
            text-decoration-line: none;
        }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .itemlist {
        display: flex;
        flex-shrink: 0;
    }

    .item-left {
        border-radius: 10px;
        margin-left: 40px;
        border: solid 1px black;
        width: 70%;
        display: inline-block;
        margin-right: 1%;
        overflow-y: scroll;
        max-height: 800px;
    }

    .items {
        border-radius: 10px;
        padding: 0px 10px 0px 10px;
        margin: 2px 2px;
        border: solid 1px black;
        display: flex;
        align-content: center;
    }

        .items img {
            max-width: 35%;
        }

        .items div {
            display: inline-block;
        }

    .item-right {
        font-family: "Roboto", system-ui;
        font-weight: 100;
        font-style: normal;
        border-radius: 10px;
        padding: 0px 10px 0px 10px;
        margin-right: 40px;
        border: solid 1px black;
        width: 25%;
        display: inline-block;
        font-size: 23px;
    }
</style>

<section class="mainctn">
    <div class="tieude">
        <h2>Thông tin chi tiết đơn hàng</h2>
        <a href="~/LichSuMuaHang/LichSuMuaHang">Lịch sử mua hàng  ></a>
    </div>
    <div class="container">
        <div class="itemlist">
            <div class="item-left">
                <div class="items">
                    <img src="https://cdn.yousport.vn/Media/Products/220823094858450/giay-da-bong-jogarbola-racer-tf-xanh-ngoc-1.jpg" />
                    <div>
                        <h4>Tên Món Hàng</h4>
                        <p>Số Lượng:</p>
                        <p>Màu: </p>
                        <p>size: </p>
                    </div>
                </div>
                <div class="items">
                    <img src="https://cdn.yousport.vn/Media/Products/220823094858450/giay-da-bong-jogarbola-racer-tf-xanh-ngoc-1.jpg" />
                    <div>
                        <h4>Tên Món Hàng</h4>
                        <p>Số Lượng:</p>
                        <p>Màu: </p>
                        <p>size: </p>
                    </div>
                </div>
                <div class="items">
                    <img src="https://cdn.yousport.vn/Media/Products/220823094858450/giay-da-bong-jogarbola-racer-tf-xanh-ngoc-1.jpg" />
                    <div>
                        <h4>Tên Món Hàng</h4>
                        <p>Số Lượng:</p>
                        <p>Màu: </p>
                        <p>size: </p>
                    </div>
                </div>
                <div class="items">
                    <img src="https://cdn.yousport.vn/Media/Products/220823094858450/giay-da-bong-jogarbola-racer-tf-xanh-ngoc-1.jpg" />
                    <div>
                        <h4>Tên Món Hàng</h4>
                        <p>Số Lượng:</p>
                        <p>Màu: </p>
                        <p>size: </p>
                    </div>
                </div>
            </div>
            <div class="item-right">
                <h3>Thông Tin Đơn Hàng</h3>
                <h4>Email:</h4>
                <p>bao22112211@gmail.com</p>
                <h4>Số Điện Thoại:</h4>
                <p>0934103951</p>
                <h4>Địa Chỉ:</h4>
                <p>442/57/118 Trường Chinh, P.14, Quận Tân Bình, TP.Hồ Chí Minh</p>
                <hr />
                <h4>Thành Tiền</h4>
                <p>Phí ship:</p>
                <p>VAT:</p>
                <h5>Thành Tiền:</h5>
            </div>
        </div>
    </div>
</section>
<div>

</div>





Lich su mua hang
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style type="text/css">
    .containerLSMH {
        display: block;
    }

    .containerkhung {
        display: block;
        border: 3px solid blue;
    }

    .containerkhung0 {
        padding-left: 20px;
        display: flex;
        align-items: baseline;
    }

        .containerkhung0 p {
            color: dimgrey;
            padding-left: 10px;
        }

    .containerkhung1 {
        overflow: hidden;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 15px;
    }

        .containerkhung1 button {
            float: left;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 18px;
            font-weight: bold;
            border: 1px solid #808080;
            border-radius: 4px;
        }

    .containerkhung button:hover {
        background-color: lightskyblue;
    }

    .containerkhung button.active {
        background-color: lightskyblue;
    }

    .containerkhung2 {
        display: block;
    }

    .containerlist {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid blue;
        margin: 20px;
        text-align: center;
    }

    .tabcontent {
        display: none;
        padding: 6px 12px;
        ;
    }

        .tabcontent p {
            margin-bottom: 8px;
            font-weight: bold;
        }

        .tabcontent span {
            font-size: 19px;
            color: dimgrey;
        }

        .tabcontent a {
            text-decoration-line: none;
            font-size: 20px;
            margin: 15px;
        }

    .productlist {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        font-size: 19px;
        text-align: center;
    }

        .productlist a {
            display: block;
            padding: 9px 10px;
            margin: 3px 5px;
            border: 2px solid royalblue;
            border-radius: 4px;
            color: royalblue;
            margin-bottom: 20px;
        }

    .mainhang {
        display: block;
    }

    .containerhang {
        display: flex;
        align-items: baseline;
        text-align: left;
        margin: 20px;
    }

    .leftch {
        width: 30%;
        font-size: 18px;
    }

    .mathang {
        display: block;
        text-align: left;
        padding-left: 15px;
    }

        .mathang img {
            width: 130px;
            height: 100px;
        }

    .sp {
        display: block;
        margin: 30px;
    }

        .sp img {
            max-width: 30%;
            border-style: hidden;
            border-radius: 5px;
            margin-right: 83px;
        }

        .sp div {
            display: inline-block;
            vertical-align: top;
            text-align: left;
        }

            .sp div h4 {
                margin-top: 0px;
                margin-bottom: 0px;
            }

            .sp div p {
                margin-top: 0px;
                margin-bottom: 0px;
                font-weight: normal;
            }

    .sanphamdamua {
        margin-right: 253px;
    }

        .sanphamdamua h3 {
            margin-left: 253px
        }
</style>

<section class="containerLSMH">
    <h2>Lịch sử mua hàng</h2>
    <div class="containerkhung">
        <div class="containerkhung0">
            <h3>Đơn hàng đã mua</h3>
            <p>từ 30/8/2024 - 30/9/2024</p>
        </div>
        <div class="containerkhung1">
            <button class="tablinks" onclick="clickTab(event, 'Choxacnhan')">
                Chờ xác nhận
            </button>
            <button class="tablinks" onclick="clickTab(event, 'Cholayhang')">
                Chờ lấy hàng
            </button>
            <button class="tablinks" onclick="clickTab(event, 'Chogiaohang')">
                Chờ giao hàng
            </button>
            <button class="tablinks" onclick="clickTab(event, 'Dahuy')">
                Đã hủy
            </button>
            <button class="tablinks" onclick="clickTab(event, 'Thanhcong')">
                Thành công
            </button>
        </div>
        <div class="containerkhung2">
            <div class="containerlist">
                <div id="Choxacnhan" class="tabcontent">
                    <p>Rất tiếc, không tìm thấy đơn hàng nào phù hợp</p>
                    <span>Vẫn còn rất nhiều sản phẩm đang chờ bạn</span>
                    <div class="productlist">
                        <p>
                            <a href="~/ProductList/ProductList">Quần áo</a>
                        </p>
                        <p>
                            <a href="~/ProductList/ProductList">Giày</a>
                        </p>
                        <p>
                            <a href="~/ProductList/ProductList">Găng tay</a>
                        </p>
                        <p>
                            <a href="~/ProductList/ProductList">Vớ</a>
                        </p>
                    </div>
                    <a href="~/Home/TrangChu"><  Về trang chủ</a>
                </div>
                <div id="Cholayhang" class="tabcontent">
                    <p>Rất tiếc, không tìm thấy đơn hàng nào phù hợp</p>
                    <span>Vẫn còn rất nhiều sản phẩm đang chờ bạn</span>
                    <div class="productlist">
                        <p>
                            <a href="~/ProductList/ProductList">Quần áo</a>
                        </p>
                        <p>
                            <a href="~/ProductList/ProductList">Giày</a>
                        </p>
                        <p>
                            <a href="~/ProductList/ProductList">Găng tay</a>
                        </p>
                        <p>
                            <a href="~/ProductList/ProductList">Vớ</a>
                        </p>
                    </div>
                    <a href="~/Home/TrangChu"><  Về trang chủ</a>
                </div>
                <div id="Chogiaohang" class="tabcontent">
                    <p>Ngày giao hàng dự kiến: Th9 13 - Th9 16</p>
                    <span>Vui lòng chuẩn bị sẵn 768.000đ tiền mặt</span>
                    <p>GHN Vận chuyển tiêu chuẩn</p>
                    <span>VNGH029430401</span>
                    <div class="mainhang">
                        <div class="containerhang">
                            <div class="leftch">
                                Th9 11 <br />
                                12:36 PM
                            </div>
                            <div class="rightch">
                                <b>Lấy hàng thành công</b> <br />
                                Đơn vị vận chuyển của chúng tôi đã tiếp nhận kiện hàng của bạn tại Huyện Phú Xuyên <br />
                                <b style="font-style:italic">Huyện Phú Xuyên</b>
                            </div>
                        </div>
                        <div class="containerhang">
                            <div class="leftch">
                                8:57 AM
                            </div>
                            <div class="rightch">
                                <b>Nhà bán hàng đang chuẩn bị kiện hàng</b> <br />
                                Nhà bán hàng đang chuẩn bị kiện hàng của bạn và sẽ bàn giao cho đơn vị vận chuyển
                            </div>
                        </div>
                    </div>
                    <p style="font-size:15px; color: dimgrey">Thời gian hiển thị theo múi giờ địa phương</p>
                    <div class="mathang">
                        <b>1 mặt hàng</b> <br />
                        <img src="~/Content/img/HomeImg/giaybongda.png" />
                    </div>
                </div>
                <div id="Dahuy" class="tabcontent">
                    <p>Rất tiếc, không tìm thấy đơn hàng nào phù hợp</p>
                    <span>Vẫn còn rất nhiều sản phẩm đang chờ bạn</span>
                    <div class="productlist">
                        <p>
                            <a href="~/ProductList/ProductList">Quần áo</a>
                        </p>
                        <p>
                            <a href="~/ProductList/ProductList">Giày</a>
                        </p>
                        <p>
                            <a href="~/ProductList/ProductList">Găng tay</a>
                        </p>
                        <p>
                            <a href="~/ProductList/ProductList">Vớ</a>
                        </p>
                    </div>
                    <a href="~/Home/TrangChu"> Về trang chủ</a>
                </div>
                <div id="Thanhcong" class="tabcontent">
                    <div class="sanphamdamua">
                        <h3>Các Sản Phẩm Đã Giao Thành Công</h3>
                        <div class="sp">
                            <img src="~/Content/img/HomeImg/gangtay12.png" />
                            <div>
                                <h4>Găng Tay Thể Thao Yousport</h4>
                                <p>Size: XL</p>
                                <p>Số lượng: 1</p>
                                <p>Trạng Thái: Đã giao</p>
                            </div>
                        </div>
                        <div class="sp">
                            <img src="~/Content/img/HomeImg/gangtay12.png" />
                            <div>
                                <h4>Găng Tay Thể Thao Yousport</h4>
                                <p>Size: XL</p>
                                <p>Số lượng: 1</p>
                                <p>Trạng Thái: Đã giao</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

