@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link href="~/Content/css/ShoppingCart.css" rel="stylesheet" />
<section class="scContent">
    <section class="category">
        <div class="logo">
            <img src="~/Content/img/sc.png" />
         
        </div>
        <div class="text">
            <h2>GIỎ HÀNG</h2>
        </div>

        <div class="search">
            <input type="text" class="txtSearch" placeholder="Tìm kiếm sản phẩm"/>
            <button class="btnSearch">Tìm Kiếm</button>
        </div>
    </section>

    <section class="mainContent">
        <div class="sanPham">
            <h2>Sản phấm</h2>
            <div class="chiTiet">
                <img src="~/Content/img/trắng.jpg" />  <a href="#">Giày đá banh trắng</a>
            </div>
            <div class="chiTiet">
                <img src="~/Content/img/xanh (1).jpg" /> <a href="#">Giày đá banh xanh</a>
            </div>
           
        </div>

        <div class="donGia">
            <h2>Đơn giá</h2>
            <p>450.000VNĐ</p>
            <p>300.000VNĐ</p>
        </div>

        <div class="soLuong">
            <h2>Số lượng</h2>
            <p>1</p>
            <p>2</p>
        </div>

        <div class="tien">
            <h2>Số tiền</h2>
            <p>450.000VNĐ</p>
            <p>600.000VNĐ</p>
        </div>

        <div class="sua">
            <h2>Sửa</h2>
            <a href="#">Xóa</a>
            <a href="#">Xóa</a>
        </div>
    </section>

    <section class="Buy">
        <div class="all">
            <input type="radio" class="allRad" value="" />Chọn tất cả
        </div>

        <div class="xoa">
            <a href="#">Xóa</a>
        </div>

        <div class="tongSP">
            <p>Tổng thanh toán:(1.050.000VNĐ)</p>
        </div>

        <div class="mua">
            <button class="btnMua">Mua</button>
        </div>
    </section>
</section>
