@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}



<link href="~/Content/css/signIn.css" rel="stylesheet" />
<section class="content">
    <section class="signIn">
        <div class="account" tabindex="1">
            <input type="text" class="inputAcc" placeholder="Email hoặc số điện thoại" />
        </div>

        <div class="password" tabindex="2">
            <input type="text" class="passAcc" placeholder="Mật khẩu" />
        </div>

        <div class="btn">
            <button class="signInbtn">Đăng nhập</button>
        </div>
        <p class="fgPass"><a href="#">Quên mật khẩu</a></p> 
    </section>

    <section class="signUp">
        <div class="btn">
            <button class="signUpbtn">Đăng ký tài khoản</button>
        </div>
    </section>
</section>